.container {
  /* width: 1600px; */
  height: 96.7vh;
  padding-right: 40px;
  padding-top: 20px;
  display: flex;
  background: url('../../images/London.jpg') no-repeat;
  background-size: cover;
}

.titleContainer{
  position: absolute;
  top:50%;
  left:50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.text {
  margin-bottom: 0px;
  margin-left: 1300px;
  padding-inline-start: 10px;
  list-style: none;
  color: rgb(255, 255, 255);
  font-weight: 600;
  animation: show-technology 1s forwards;
}

p {
  margin: 0;
  padding-left: 5px;
}

.text > li {
  display: flex;
  align-items: center;
}

.text > li :hover {
  color: black;
}

.welcome {
  padding-top: 45px;
  padding-left: 10px;
  color: rgb(000, 000, 000);
}

@keyframes show-technology {
  0% {
    opacity: 0;
    transform: translateY(+200px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.btnStart {
  width: 90px;
  height: 35px;
  text-align: center;
  margin-top: 10px;

  background-color: rgb(254, 31, 32);
  color: rgb(000, 000, 000);
  border-top: 4px solid rgb(251, 53, 53);
  border-left: 4px solid rgb(251, 53, 53);
  border-right: 4px solid rgb(245, 4, 4);
  border-bottom: 4px solid rgb(245, 4, 4);
  box-shadow: 0 0 40px 40px rgb(254, 31, 32) inset;

  transition: all 150ms ease-in-out;

  animation: changeSize 3000ms infinite 1000ms;
}

.btnStart:hover,
.btnStart:focus {
  color: rgb(251, 53, 53);
  background-color: transparent;
  border: 1px solid black;
  box-shadow: 0 0 20px 0 rgb(251, 53, 53) inset;

  animation-play-state: paused;
}

@keyframes changeSize {
  0% {
    transform: scale(1);
  }

  50% {
    transform: scale(1.5);
  }

  100% {
    transform: scale(1);
  }
}

.linkStart {
  color: rgb(000, 000, 000);
}

.linkStart:hover,
.linkStart:focus {
  text-decoration: none;
  color: rgb(000, 000, 000);
}